Repository Anddd7/go-monorepo-tutorial, changes with the owners that CODEOWNERS names for each.
All owners: @team-leads, @sre, @order, @product, @frontier

CODEOWNERS:

# @team-leads should be the person in charge
# @sre can do the hotfix when necessary
*                           @team-leads @sre

# `infrastructure` and `scripts` includes the cluster setup, ci/cd process, basic infra template
# @sre should take the responsibility of this
/infrastructure/            @sre
/scripts/                   @sre

# `gateway` controls the boundary of the services, there are higher requirements for security and consistency
# @team-leads have to ensure the interfaces are secure
/gateway/                   @team-leads

# `pkg` just hold the shared codes used across the services
# `pkg` open to everyone, if only modified incrementally here
# /pkg/                     @all

# `services` stores the code, deploy script of each service
# `services` belongs to the functional team
/services/order/            @order
/services/product/          @product


# `services.orchestration` can be used to quickly implement functionality without changing the code of each service
# @frontier is a logic team that works closely with the business to achieve requirements quickly
/services/orchestration/    @frontier

Update README.md
  README.md
Owners: @team-leads, @sre

rename the env in make file
  Makefile
  scripts/make/skaffold.mk
Owners: @team-leads, @sre

refactor and fix kustomize build
  Makefile
  scripts/auto/dev-setup-linux
  scripts/auto/dev-setup-macos
  scripts/make/skaffold.mk
  scripts/shell/docker_build.sh
  scripts/shell/kustomize_build.sh
  skaffold.yaml
Owners: @team-leads, @sre

move service tf module into service folder
  services/order/terraform/main.tf
  services/order/terraform/variables.tf
  services/product/terraform/main.tf
  services/product/terraform/variables.tf
Owners: @order, @product

create workflow
  .github/workflows/make_build.yml
Owners: @team-leads, @sre

refactor the layer2 tf
  infrastructure/macos/layer2/dev/main.tf
  infrastructure/macos/layer2/dev/provider.tf
  infrastructure/macos/layer2/dev/terraform.tfvars
  infrastructure/macos/layer2/dev/variables.tf
  infrastructure/wsl-ubuntu/layer2/dev/main.tf
  infrastructure/wsl-ubuntu/layer2/dev/terraform.tfvars
  infrastructure/wsl-ubuntu/layer2/dev/variables.tf
  infrastructure/wsl-ubuntu/layer2/dev/version.tf
Owners: @sre

rename namespace
  services/order/kustomize/overlays/colima-dev/kustomization.yaml
  services/order/kustomize/overlays/minikube-dev/kustomization.yaml
  services/order/kustomize/overlays/wsl-ubuntu-dev/kustomization.yaml
  services/product/kustomize/overlays/colima-dev/kustomization.yaml
  services/product/kustomize/overlays/minikube-dev/kustomization.yaml
  services/product/kustomize/overlays/wsl-ubuntu-dev/kustomization.yaml
Owners: @order, @product

refactor the make script
  scripts/make/golang.mk
  scripts/make/variables.mk
  scripts/shell/docker_build.sh
  skaffold.yaml
Owners: @sre, @team-leads

use colima in macos
  infrastructure/macos/layer1/build.sh
  infrastructure/macos/layer1/main.tf
  infrastructure/macos/layer1/provider.tf
  infrastructure/macos/layer1/terraform.tfvars
  infrastructure/macos/layer1/variables.tf
Owners: @sre

install tools on ci
  .github/workflows/make_build.yml
  README.md
  scripts/auto/ci-setup
Owners: @team-leads, @sre

fix misc errors
  .github/workflows/make_build.yml
  scripts/auto/ci-setup
  scripts/auto/dev-setup-macos
  scripts/shell/grpc_gen.sh
  services/order/order.proto
  services/product/product.proto
Owners: @team-leads, @sre, @order, @product

fix actions
  README.md
  scripts/shell/argocd_push.sh
  scripts/shell/docker_build.sh
Owners: @team-leads, @sre

fix actions
  scripts/shell/argocd_push.sh
Owners: @sre

delete submodule
  .github/workflows/make_build.yml
Owners: @team-leads, @sre

fetch argo repo in makefile
  .gitignore
  Makefile
Owners: @team-leads, @sre

add write repo permission to actions
  .github/workflows/make_build.yml
Owners: @team-leads, @sre

update workflow
  .github/workflows/make_build.yml
Owners: @team-leads, @sre

update workflow
  Makefile
Owners: @team-leads, @sre

keep folder
  infrastructure/v1-migration/alicloud/layer1/prod/.gitkeep
  infrastructure/v1-migration/alicloud/layer1/qa/.gitkeep
  infrastructure/v1-migration/alicloud/layer1/uat/.gitkeep
  infrastructure/v1-migration/alicloud/layer2/dev/user-management/ad/.gitkeep
  infrastructure/v1-migration/alicloud/layer2/dev/user-management/google-auth/.gitkeep
  infrastructure/v1-migration/alicloud/layer2/dev/user-management/sso/.gitkeep
  infrastructure/v1-migration/alicloud/layer2/prod/.gitkeep
  infrastructure/v1-migration/alicloud/layer2/qa/.gitkeep
  infrastructure/v1-migration/alicloud/layer2/uat/.gitkeep
  infrastructure/v1-migration/alicloud/modules/.gitkeep
  infrastructure/v2-platform-engineering/alicloud/layer0/dns/.gitkeep
  infrastructure/v2-platform-engineering/alicloud/layer0/network/.gitkeep
  infrastructure/v2-platform-engineering/alicloud/layer0/security/.gitkeep
  infrastructure/v2-platform-engineering/alicloud/layer1/backup/.gitkeep
  infrastructure/v2-platform-engineering/alicloud/layer2/app1/.gitkeep
  infrastructure/v2-platform-engineering/alicloud/layer2/app2/.gitkeep
  infrastructure/v2-platform-engineering/alicloud/layer2/app3/.gitkeep
  infrastructure/v2-platform-engineering/gcp/layer0/dns/.gitkeep
  infrastructure/v2-platform-engineering/gcp/layer0/network/.gitkeep
  infrastructure/v2-platform-engineering/gcp/layer0/security/.gitkeep
  infrastructure/v2-platform-engineering/gcp/layer1/backup/.gitkeep
  infrastructure/v2-platform-engineering/gcp/layer2/app1/.gitkeep
  infrastructure/v2-platform-engineering/gcp/layer2/app2/.gitkeep
  infrastructure/v2-platform-engineering/gcp/layer2/app3/.gitkeep
  infrastructure/v2-platform-engineering/hybrid/layer0/certificates/.gitkeep
  infrastructure/v2-platform-engineering/hybrid/layer1/container-registry/.gitkeep
  infrastructure/v2-platform-engineering/hybrid/layer1/peering/.gitkeep
Owners: @sre

keep folder
  infrastructure/v1-migration/gcp/prod/.gitkeep
  infrastructure/v1-migration/gcp/qa/.gitkeep
  infrastructure/v1-migration/gcp/uat/.gitkeep
Owners: @sre

Create LICENSE
  LICENSE
Owners: @team-leads, @sre
